.molecule-button {
    &__inside {
        width: 100%;
        border-top-width: 2px;
        border-top-color: #F0BB51;
        border-bottom-width: 2px;
        border-bottom-color: #F0BB51;
        font-family: "InterBold";
    }
}