@import "../theme/variable.scss";

.page-collectibles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  overflow-y: scroll;
  max-height: 100vh;

  @media only screen and (min-width: 1080px) {
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;

      &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px;
        @media only screen and (min-width: 1080px) {
          max-width: 60%;
        }
      }

      &__table {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        @media only screen and (min-width: 1080px) {
          max-width: 60%;
        }
        &__databuttons {
          width: 200px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &__linkbutton {
        padding-top: 40px;
      }

      span {
        font-family: "InterLight";
      }

      a {
        text-decoration: underline;
        color: #4876c1;
        font-family: "InterLight";
        cursor: pointer;
      }
    }
  }

  .bg-1 {
    background-color: #1b191b;
  }

  .bg-2 {
    background-color: #1e1e20;
  }

  .flex-column {
    flex-direction: column;
  }

  .bg-mountain {
    background-image: url("../../assets/images/mountain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
