@import "../theme/variable.scss";

.css-79ws1d-MuiModal-root {
  background-color: #00000070 !important;
}

.css-111cru1 {
  box-shadow: none !important;
  border: none !important;
}

.page-myevents {
  display: flex;
  justify-content: center;
  width: 75%;
  overflow-y: scroll;
  max-height: 100vh;

  // @media only screen and (min-width: 1520px) {
  //   width: 100%;

  //   @media only screen and (max-width: 1960px) {
  //     width: calc(75% + 90px);

  //     @media only screen and (max-width: 1600px) {
  //       width: calc(75% + 50px);
  //     }
  //   }
  // }

  &__content {
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
 
    // justify-content: center;
    max-width: 1520px;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      padding-left: 3vmin;
      padding-right: 3vmin;

      &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 1520px;
        margin: 3vmin;

        &__right {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 4vmin;
          padding-bottom: 5vmin;

          &__twobtns {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 5vmin;
          }

          &__table {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3vmin;
            max-height: calc(100vh - 10vmin);
            overflow-y: scroll;
            width: 100vmin;
            padding-top: 10vmin;
            padding-bottom: 5vmin;
            padding-right: 2vmin;

            .component-claimticket:nth-child(even) {
              // margin-top: 120px !important;
            }

            .component-claimticket:nth-child(odd) {
              margin-top: -14vmin !important;
            }
          }
        }
      }

      &__svg {
        position: absolute;
        left: calc(25% + 3vmin);
        bottom: 0%;
        @media only screen and (max-width: 960px) {
          display: none;
        }

        img {
          width: 20vmin;
          user-select: none;
        }
      }

      &__linkbutton {
        padding-top: 40px;
      }

      span {
        font-family: "InterLight";
      }

      a {
        text-decoration: underline;
        color: #4876c1;
        font-family: "InterLight";
        cursor: pointer;
      }
    }
  }

  .bg-1 {
    background-color: #1b191b;
  }

  .bg-2 {
    background-color: #1e1e20;
  }

  .flex-column {
    flex-direction: column;
  }

  .bg-mountain {
    background-image: url("../../assets/images/mountain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
