/////// Rubik Fontface //////////

@font-face {
  font-family: "AquireBold";
  src: url("../../assets/fonts/AquireBold.otf");
}

@font-face {
  font-family: "Aquire-BW";
  src: url("../../assets/fonts/Aquire-BW.otf");
}

@font-face {
  font-family: "AquireLight";
  src: url("../../assets/fonts/AquireLight.otf");
}

@font-face {
  font-family: "Nasalization";
  src: url("../../assets/fonts/Nasalization.otf");
}

@font-face {
  font-family: "RubikBold";
  src: url("../../assets/fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: "RubikBlack";
  src: url("../../assets/fonts/Rubik-Black.ttf");
}

@font-face {
  font-family: "RubikLight";
  src: url("../../assets/fonts/Rubik-Light.ttf");
}

@font-face {
  font-family: "RubikMedium";
  src: url("../../assets/fonts/Rubik-Medium.ttf");
}

////// Inter Fontface ///////

@font-face {
  font-family: "InterBlack";
  src: url("../../assets/fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "InterBold";
  src: url("../../assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "InterExtraBold";
  src: url("../../assets/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "InterExtraLight";
  src: url("../../assets/fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "InterLight";
  src: url("../../assets/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "InterMedium";
  src: url("../../assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "InterRegular";
  src: url("../../assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterSemiBold";
  src: url("../../assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "InterThin";
  src: url("../../assets/fonts/Inter-Thin.ttf");
}
